deploy/wf1_retell_call_handler.json
{"name":"IETI P1 - Retell Call Handler","nodes":[{"parameters":{"httpMethod":"POST","path":"iet-retell-call-ended","options":{},"multipleMethods":false},"id":"a1000001-0000-0000-0000-000000000001","name":"Webhook - Retell call_ended","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,304],"webhookId":"236ceb1e-bc9c-47ff-b389-008750dc1f28"},{"parameters":{"jsCode":"const d = $input.first().json;\n\nconst isMidCall = !d.call_id && (d.caller_name || d.caller_phone);\n\nconst vars = d.retell_llm_dynamic_variables || {};\nconst analysis = d.call_analysis || {};\nconst customData = analysis.custom_analysis_data || {};\n\nconst callerName = d.caller_name || vars.caller_name || '';\nconst callerPhone = d.caller_phone || vars.caller_phone || d.from_number || '';\nconst propertyAddress = d.property_address || vars.property_address || 'not provided';\nconst concernType = d.concern_type || vars.concern_type || 'not specified';\nconst description = d.concern_description || vars.concern_description || vars.description || '';\nconst urgencyFlag = d.urgency_flag || vars.urgency_flag || customData.urgency_level || 'routine';\nconst callType = vars.call_type || customData.service_type_interest || 'new_inquiry';\nconst afterHours = vars.after_hours === 'true' || vars.after_hours === true;\nconst intakeCollected = callerName.length > 0 && callerPhone.length > 0;\n\nconst startTs = parseInt(d.start_timestamp) || 0;\nconst endTs = parseInt(d.end_timestamp) || 0;\nconst durationSecs = startTs > 0 && endTs > 0 ? Math.round((endTs - startTs) / 1000) : 0;\n\nconst out = {\n  call_id: d.call_id || 'mid-call-' + Date.now(),\n  call_status: isMidCall ? 'in_progress' : (d.call_status || ''),\n  caller_name: callerName,\n  caller_phone: callerPhone,\n  property_address: propertyAddress,\n  concern_type: concernType,\n  description: description,\n  urgency_flag: urgencyFlag,\n  call_type: callType,\n  after_hours: afterHours,\n  intake_collected: intakeCollected,\n  call_summary: analysis.call_summary || description || 'Intake collected mid-call',\n  user_sentiment: analysis.user_sentiment || 'Unknown',\n  intake_complete: customData.intake_complete || intakeCollected,\n  call_outcome: customData.call_outcome || (isMidCall ? 'intake_collected' : ''),\n  transcript: (d.transcript || '').substring(0, 2000),\n  call_duration_seconds: durationSecs,\n  received_at: new Date().toISOString()\n};\nreturn [{ json: out }];","language":"javaScript","mode":"runOnceForAllItems"},"id":"a1000002-0000-0000-0000-000000000002","name":"Code - Parse Retell Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"resource":"sheet","operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Call Log","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"received_at":"={{ $json.received_at }}","call_id":"={{ $json.call_id }}","caller_name":"={{ $json.caller_name }}","caller_phone":"={{ $json.caller_phone }}","concern_type":"={{ $json.concern_type }}","property_address":"={{ $json.property_address }}","call_type":"={{ $json.call_type }}","urgency_flag":"={{ $json.urgency_flag }}","after_hours":"={{ $json.after_hours }}","intake_collected":"={{ $json.intake_collected }}","call_duration_seconds":"={{ $json.call_duration_seconds }}","call_status":"={{ $json.call_status }}","user_sentiment":"={{ $json.user_sentiment }}","call_summary":"={{ $json.call_summary }}","description":"={{ $json.description }}"},"matchingColumns":[]},"options":{}},"id":"a1000008-0000-0000-0000-000000000008","name":"Google Sheets - Log Call","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,112]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"To","value":"={{ $env.MARTINE_PHONE }}"},{"name":"From","value":"={{ $env.TWILIO_PHONE }}"},{"name":"Body","value":"={{ $json.urgency_flag === 'urgent' ? 'URGENT: ' : 'New call: ' }}{{ $json.caller_name }} ({{ $json.caller_phone }})\nConcern: {{ $json.concern_type }}\nAddress: {{ $json.property_address }}\nSummary: {{ $json.call_summary }}"}]},"options":{}},"id":"twilio-sms-martine","name":"Twilio - SMS to Martine","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1280,112]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.caller_phone }}"},{"name":"From","value":"={{ $env.TWILIO_PHONE }}"},{"name":"Body","value":"Thanks for calling Indoor Environmental Testing! Martine has your details and will follow up shortly to discuss scheduling."}]},"options":{}},"id":"twilio-sms-caller","name":"Twilio - SMS to Caller","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1456,320]}],"connections":{"Webhook - Retell call_ended":{"main":[[{"node":"Code - Parse Retell Payload","type":"main","index":0}]]},"Code - Parse Retell Payload":{"main":[[{"node":"Google Sheets - Log Call","type":"main","index":0}]]},"Google Sheets - Log Call":{"main":[[{"node":"Twilio - SMS to Martine","type":"main","index":0}]]},"Twilio - SMS to Martine":{"main":[[{"node":"Twilio - SMS to Caller","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"meta":{"instanceId":"IETI-WF1"}}
