deploy/wf2_missed_call_sms.json
{"name":"IETI P1 - Missed Call Auto-SMS","nodes":[{"parameters":{"httpMethod":"POST","path":"iet-retell-missed-call","responseMode":"immediately","responseData":"allEntries","options":{}},"id":"b1000001-0000-0000-0000-000000000001","name":"Webhook - Missed Call Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"const d = $input.first().json;\nconst fromNumber = d.from_number || d.caller_phone || d.retell_llm_dynamic_variables?.caller_phone || \u0027\u0027;\nconst callId = d.call_id || \u0027\u0027;\nconst callStatus = d.call_status || \u0027ended\u0027;\nconst afterHours = d.after_hours === true || d.after_hours === \u0027true\u0027;\nconst transcript = d.transcript || \u0027\u0027;\nconst shortTranscript = transcript.substring(0, 500);\n\n// Missed = call ended with no intake (very short, hung up, or no name captured)\nconst durationMs = (parseInt(d.end_timestamp) || 0) - (parseInt(d.start_timestamp) || 0);\nconst durationSecs = Math.round(durationMs / 1000);\nconst isMissed = durationSecs \u003c 30 || !d.retell_llm_dynamic_variables?.caller_name;\n\nreturn [{ json: {\n  from_number: fromNumber,\n  call_id: callId,\n  call_status: callStatus,\n  after_hours: afterHours,\n  is_missed: isMissed,\n  duration_seconds: durationSecs,\n  transcript_snippet: shortTranscript,\n  received_at: new Date().toISOString()\n}}];"},"id":"b1000002-0000-0000-0000-000000000002","name":"Code - Classify Missed Call","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"cond-has-phone","leftValue":"={{ $json.from_number }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"b1000003-0000-0000-0000-000000000003","name":"If - Has Phone Number?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"cond-after-hours","leftValue":"={{ $json.after_hours }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"b1000004-0000-0000-0000-000000000004","name":"If - After Hours?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,180]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.from_number }}"},{"name":"From","value":"YOUR_TWILIO_PHONE_NUMBER"},{"name":"Body","value":"Hi! You reached Indoor Environmental Testing after hours. We\u0027ll call you back first thing tomorrow morning. For urgent concerns, reply to this message and we\u0027ll prioritize your call. — Martine \u0026 the IET Team"}]},"options":{}},"id":"b1000005-0000-0000-0000-000000000005","name":"Twilio - After Hours SMS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,80],"credentials":{"httpBasicAuth":{"id":"YOUR_TWILIO_BASIC_AUTH_CREDENTIAL_ID","name":"Twilio Basic Auth"}}},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.from_number }}"},{"name":"From","value":"YOUR_TWILIO_PHONE_NUMBER"},{"name":"Body","value":"Hi! We missed your call at Indoor Environmental Testing. We\u0027ll reach out within the hour. If it\u0027s faster for you, you can book directly at YOUR_BOOKING_LINK — Questions? Just reply here. — Martine"}]},"options":{}},"id":"b1000006-0000-0000-0000-000000000006","name":"Twilio - Missed Call SMS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,280],"credentials":{"httpBasicAuth":{"id":"YOUR_TWILIO_BASIC_AUTH_CREDENTIAL_ID","name":"Twilio Basic Auth"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Missed Calls","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"received_at":"={{ $json.received_at }}","from_number":"={{ $json.from_number }}","call_id":"={{ $json.call_id }}","after_hours":"={{ $json.after_hours }}","duration_seconds":"={{ $json.duration_seconds }}","sms_sent":"yes","sms_type":"={{ $json.after_hours ? \u0027after_hours\u0027 : \u0027missed_call\u0027 }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"b1000007-0000-0000-0000-000000000007","name":"Google Sheets - Log Missed Call","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1340,180]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Missed Calls","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"received_at":"={{ $json.received_at }}","from_number":"={{ $json.from_number }}","call_id":"={{ $json.call_id }}","after_hours":"false","duration_seconds":"={{ $json.duration_seconds }}","sms_sent":"no - no phone number","sms_type":"no_number"},"matchingColumns":[],"schema":[]},"options":{}},"id":"b1000008-0000-0000-0000-000000000008","name":"Google Sheets - Log No Number","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,440]}],"connections":{"Webhook - Missed Call Trigger":{"main":[[{"node":"Code - Classify Missed Call","type":"main","index":0}]]},"Code - Classify Missed Call":{"main":[[{"node":"If - Has Phone Number?","type":"main","index":0}]]},"If - Has Phone Number?":{"main":[[{"node":"If - After Hours?","type":"main","index":0}],[{"node":"Google Sheets - Log No Number","type":"main","index":0}]]},"If - After Hours?":{"main":[[{"node":"Twilio - After Hours SMS","type":"main","index":0}],[{"node":"Twilio - Missed Call SMS","type":"main","index":0}]]},"Twilio - After Hours SMS":{"main":[[{"node":"Google Sheets - Log Missed Call","type":"main","index":0}]]},"Twilio - Missed Call SMS":{"main":[[{"node":"Google Sheets - Log Missed Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"tags":[]}
