deploy/wf4_google_review.json
{"name":"IETI P2 - Post-Inspection Google Review Request","nodes":[{"parameters":{"httpMethod":"POST","path":"iet-inspection-complete","responseMode":"immediately","responseData":"allEntries","options":{}},"id":"d1000001-0000-0000-0000-000000000001","name":"Webhook - Inspection Complete","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"const d = $input.first().json;\nreturn [{ json: {\n  customer_name: d.customer_name || \u0027\u0027,\n  customer_email: d.customer_email || \u0027\u0027,\n  customer_phone: d.customer_phone || \u0027\u0027,\n  inspection_type: d.inspection_type || \u0027environmental inspection\u0027,\n  inspector_name: d.inspector_name || \u0027our inspector\u0027,\n  inspection_date: d.inspection_date || new Date().toISOString().split(\u0027T\u0027)[0],\n  property_address: d.property_address || \u0027\u0027,\n  google_review_link: d.google_review_link || \u0027https://g.page/r/YOUR_GOOGLE_REVIEW_LINK/review\u0027,\n  received_at: new Date().toISOString()\n}}];"},"id":"d1000002-0000-0000-0000-000000000002","name":"Code - Format Inspection Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"amount":1,"unit":"days"},"id":"d1000003-0000-0000-0000-000000000003","name":"Wait - 24 Hours","type":"n8n-nodes-base.wait","typeVersion":1,"position":[680,300],"webhookId":"iet-review-wait-24h"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"cond-has-phone","leftValue":"={{ $json.customer_phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"d1000004-0000-0000-0000-000000000004","name":"If - Has Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.customer_phone }}"},{"name":"From","value":"YOUR_TWILIO_PHONE_NUMBER"},{"name":"Body","value":"=Hi {{ $json.customer_name }}, thank you for choosing Indoor Environmental Testing for your {{ $json.inspection_type }}. We hope the findings were helpful. If you have a moment, a Google review would mean a lot to us and helps other families make informed decisions: {{ $json.google_review_link }} — Martine \u0026 the IET Team"}]},"options":{}},"id":"d1000005-0000-0000-0000-000000000005","name":"Twilio - SMS Review Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,180],"credentials":{"httpBasicAuth":{"id":"YOUR_TWILIO_BASIC_AUTH_CREDENTIAL_ID","name":"Twilio Basic Auth"}}},{"parameters":{"amount":3,"unit":"days"},"id":"d1000006-0000-0000-0000-000000000006","name":"Wait - 3 More Days","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1340,180],"webhookId":"iet-review-wait-3d"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"cond-has-email","leftValue":"={{ $json.customer_email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"d1000007-0000-0000-0000-000000000007","name":"If - Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1560,180]},{"parameters":{"sendTo":"={{ $json.customer_email }}","subject":"=Your Indoor Environmental Testing Report — Quick Favor?","emailType":"html","message":"=\u003cp\u003eHi {{ $json.customer_name }},\u003c/p\u003e\u003cp\u003eThank you for trusting Indoor Environmental Testing with your {{ $json.inspection_type }} at {{ $json.property_address }}. We hope the report gave you the clarity and information you were looking for.\u003c/p\u003e\u003cp\u003eIf you found our service valuable, we\u0027d be genuinely grateful if you\u0027d take 60 seconds to leave us a Google review. Reviews help other families and property owners find reliable, objective testing — and they mean a great deal to our small team.\u003c/p\u003e\u003cp style=\u0027margin: 24px 0;\u0027\u003e\u003ca href=\u0027{{ $json.google_review_link }}\u0027 style=\u0027background:#2563eb;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;\u0027\u003eLeave a Google Review\u003c/a\u003e\u003c/p\u003e\u003cp\u003eIf you have any questions about your report or want to follow up on anything, just reply to this email.\u003c/p\u003e\u003cp\u003eThank you again,\u003cbr\u003eMartine Davis\u003cbr\u003eIndoor Environmental Testing Inc.\u003cbr\u003eMadison, WI | Nashville, TN\u003c/p\u003e","options":{"replyTo":"martine@indoorenvironmentaltesting.com"}},"id":"d1000008-0000-0000-0000-000000000008","name":"Gmail - Email Review Request","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1780,120],"credentials":{"gmailOAuth2":{"id":"YOUR_GMAIL_CREDENTIAL_ID","name":"Gmail - IET Account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Review Requests","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"received_at":"={{ $json.received_at }}","customer_name":"={{ $json.customer_name }}","customer_phone":"={{ $json.customer_phone }}","customer_email":"={{ $json.customer_email }}","inspection_type":"={{ $json.inspection_type }}","inspection_date":"={{ $json.inspection_date }}","property_address":"={{ $json.property_address }}","sms_sent":"yes","email_sent":"yes","sequence_status":"complete"},"matchingColumns":[],"schema":[]},"options":{}},"id":"d1000009-0000-0000-0000-000000000009","name":"Google Sheets - Log Review Request","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,180]}],"connections":{"Webhook - Inspection Complete":{"main":[[{"node":"Code - Format Inspection Data","type":"main","index":0}]]},"Code - Format Inspection Data":{"main":[[{"node":"Wait - 24 Hours","type":"main","index":0}]]},"Wait - 24 Hours":{"main":[[{"node":"If - Has Phone?","type":"main","index":0}]]},"If - Has Phone?":{"main":[[{"node":"Twilio - SMS Review Request","type":"main","index":0}],[{"node":"Wait - 3 More Days","type":"main","index":0}]]},"Twilio - SMS Review Request":{"main":[[{"node":"Wait - 3 More Days","type":"main","index":0}]]},"Wait - 3 More Days":{"main":[[{"node":"If - Has Email?","type":"main","index":0}]]},"If - Has Email?":{"main":[[{"node":"Gmail - Email Review Request","type":"main","index":0}],[{"node":"Google Sheets - Log Review Request","type":"main","index":0}]]},"Gmail - Email Review Request":{"main":[[{"node":"Google Sheets - Log Review Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"tags":[]}
